* {
  padding: 0;
  margin: 0;
}

html,
body{
  background-color: #FFFDD0;
  overflow: hidden;
}

button {
  color: rgb(255, 255, 255);
  box-shadow: none;
  cursor: pointer;
  height: 4em;
  width: 7em;
  border-radius: 2em;
  background: none;
  border: 2px solid #5427ab;
}

button:hover {
  background-color: #5427ab;
}

