* {
  padding: 0;
  margin: 0;
}

html,
body{
  background-color: #FFFDD0;
  overflow: hidden;
}

button {
  color: white;
  box-shadow: none;
  background: none;
  border: solid 3px #242424;
  background-color: transparent;
  cursor: pointer;
  height: 4em;
  width: 7em;
}

button:hover {
  background-color: #242424;
}

